<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'templates/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="fullheader">
            <div class="logoparent">
                <div class="logochild1">
                    {% load static %} <img src="{% static 'images/logohva.jpg' %}", style= 'height:95%; width: 95%; object-fit: contain'>
                </div>
            </div>
            <div class="header">
                <h1>Huis van Alijn: Statistics</h1>
            </div>
            <div class="logoparent">
                <div class="logochild2">
                    {% load static %} <img src="{% static 'images/logohva.jpg' %}", style= 'height:95%; width: 95%; object-fit: contain'>
                </div>
            </div>
        </div>
        <div class = 'heading'>
            <h2>Algemeen</h2>
        </div>
        <div class = 'graphbox'>
            <div class="graph">
                <img src="data:imageRecords/png;base64,{{ graphRecords|safe }}">
            </div>
            <div class="graph">
                <img src="data:image/png;base64,{{ graphRecordsHvA|safe }}">
            </div>
        <div class = 'heading'>
            <h2>Datering</h2>
        </div>
        <div class = 'graphbox'>
            <div class="graph">
                <img src="data:imageDates/png;base64,{{ graphDatesPresent|safe }}">
            </div>
            <div class="graph">
                <img src="data:imageDates/png;base64,{{ graphDates|safe }}">
            </div>
        </div>
        <div class = 'heading'>
            <h2>Records op kaart</h2>
        </div>
        <div class = 'mapbox'>
            {% if graphMap %}
            <div class = 'map'>
            {{ graphMap|safe }}
            </div>
            {% endif %}
        </div>
    </body>
</html>


